<h1><%= @subreddit.title %></h1>

<h2>Sidebar</h2>

<h2>Rules</h2>

<h2>Hot Posts</h2>
<% @subreddit.hot_posts.each do |post| %>
  <h3><%= link_to post['data']['title'], post['data']['url'] %></h3>
  <ul>
    <li><%= link_to "Upvote", "#" %></li>
    <li><%= link_to "Downvote", "#" %></li>
    <li>Score: <%= post['data']['score'] %></li>
    <li><%= link_to "Comments", "#" %></li>
  </ul>
<% end %>